{% extends "layouts/default.html.jinja" %}

{% block title %}Kreuzberg - St.Paul - Schwandorf{% endblock %}

{% block content %}
    <h4>St. Paul</h4>

	<table>
        <thead>
            <tr>
                <th scope="col">Datum</th>
                <th scope="col">Uhrzeit</th>
                <th scope="col">Beschreibung</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th scope="col">So, 24.08.</th>
                <td>09:30 Uhr</td>
                <td>Hl. Messe zum Dank für die Wahl von Papst Leo XIV</td>
            </tr>
            <tr>
                <th scope="col">Di, 26.08.</th>
                <td>18:30 Uhr</td>
                <td>Hl. Messe um Beistand für alle in Not</td>
            </tr>
            <tr>
                <th scope="col">Sa, 30.08.</th>
                <td>16:30 Uhr</td>
                <td>Rosenkranz und Beichtgelegenheit</td>
            </tr>
            <tr>
                <th scope="col"></th>
                <td>17:00 Uhr</td>
                <td>Hl. Messe f. ✝ Angehörige Familie Berner</td>
            </tr>
            <tr>
                <th scope="col">So, 31.08.</th>
                <td>09:30 Uhr</td>
                <td>Hl. Messe in besonderer Meinung</td>
            </tr>
            <tr>
                <th scope="col">Di, 02.09.</th>
                <td>18:30 Uhr</td>
                <td>Hl. Messe f. ✝ Schwester Beatrix (Niederbr. Schwestern)</td>
            </tr>
            <tr>
                <th scope="col">Sa, 06.09.</th>
                <td>16:30 Uhr</td>
                <td>Rosenkranz und Beichtgelegenheit</td>
            </tr>
            <tr>
                <th scope="col"></th>
                <td>17:00 Uhr</td>
                <td>Hl. Messe f. ✝ Eltern und Bruder</td>
            </tr>
            <tr>
                <th scope="col">So, 07.09.</th>
                <td>09:30 Uhr</td>
                <td>Hl. Messe nach Meinung Quirin Weihrauch</td>
            </tr>
            <tr>
                <th scope="col">Sa, 13.09.</th>
                <td>16:30 Uhr</td>
                <td>Rosenkranz und Beichtgelegenheit</td>
            </tr>
            <tr>
                <th scope="col"></th>
                <td>17:00 Uhr</td>
                <td>Hl. Messe f. ✝ Toni Jäger</td>
            </tr>
            <tr>
                <th scope="col">So, 14.09.</th>
                <td>09:30 Uhr</td>
                <td>Hl. Messe für meine Schwestern / Brüder</td>
            </tr>
        </tbody>
    </table>
{% endblock %}